@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #fafafa;
  color: #18181b;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #fafafa;
    color: #18181b;
  }
}
